.popup__error {
  min-height: 30px;
  margin: 0 0 -30px;
  padding: 0;
  visibility: hidden;
  color: #FF0000;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  opacity: 0;
  transition: visibility .2s linear, opacity .2s linear;
}