.board__card-like {
  margin: auto 20px auto auto;
  padding: 0;
  width: 20px;
  height: 18px;
  background: rgb(0, 0, 0, 0) url('../../../images/card-like.svg') no-repeat center;
  background-size: contain;
}